<%- include('../partials/header') -%>
<div class="form-container">
    <div class="form-content">
    <h2>Add New School</h2>
    <form action="/flowers" method="POST" enctype="multipart/form-data">
        <table>
            <tr>
                <td>
                    <label>Name:</label>
                </td>
                <td>
                    <input type="text" name="name" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Rate:</label>
                </td>
                <td>
                    <input type="number" name="rate" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Description:</label>
                </td>
                <td>
                    <textarea name="description" required></textarea>
                </td>
            </tr>
            <tr>
                <td><label>Image:</label></td>
                <td><input type="file" name="image" required></td>
            </tr>
        </table>
        <br>
        <input type="submit" value="Add School" style="margin-left: 90px;">
    </form>
</div></div>
    <%- include('../partials/footer') -%>
